<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>RFRP</title>
</head>
<body>
	<h1>RFRP Dashboard</h1>

    This server allows you to publish a website from a machine behind a NAT.
    This is a prototype without any security management. Please don't be malicious!

    <h2>Configure your local machine</h2>

    <p>Step 1:</p>
    <p>Publish a http server on port 9999. For example, `python3 -m http.server 9999`</p>

    <p>Step 2:</p>
    <p>Install golang compiler or docker</p>

    <p>Step 3 (docker):</p>
    <p>TODO</p>

    <h2>Test machine (If you just want to see how it works)</h2>
    <p>I have a simple file server in my local raspberry pi. I publish this file server at 'test.uw-biblog.com'</p>
    <p>The url should be 'not exist' currently. Unless you click the enable button below with subdomain='test'.</p>
    <p>The the url should be accessible for 10 seconds, and then becomes 'not exist' again.</p>

    <h2>Enable a subdomain</h2>
    <form action="enableSubdomain" method="POST">
        <ul>
            <li>
                <label for="subdomain">Subdomain Name</label>
                <input id="subdomain" name="subdomain" type="text" value="test" required>
            </li>
            <li>
                <label for="duration">Duration (in seconds, less than 1000 seconds)</label>
                <input id="duration" name="duration" type="number" value="10" required>
            </li>
            <li class="button">
                <button type="submit">Enable!</button>
            </li>              
        </ul>
    </form>
</body>
</html>